client-application/src/main/mule/client.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:oauth="http://www.mulesoft.org/schema/mule/oauth" xmlns:validation="http://www.mulesoft.org/schema/mule/validation"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:crypto="http://www.mulesoft.org/schema/mule/crypto" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/crypto http://www.mulesoft.org/schema/mule/crypto/current/mule-crypto.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">
	
	
	<flow name="client-flow" doc:id="410ee7f2-7cfa-456f-8997-a0299f8caa6d" >
		<http:listener doc:name="Listener" doc:id="299a1891-5b40-4bab-b957-a575757fa9f2" config-ref="HTTP_Listener_Client" path="/" allowedMethods="POST"/>
		<logger level="INFO" doc:name="Log request body" doc:id="4df314d4-be2b-4e54-8349-aae58717c769" message="Request body received by Client: #[payload]" />
		<ee:transform doc:name="JSON to Java" doc:id="d2dd1acd-800e-4a83-a09e-fa9d75e1d343" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
 	<validation:is-not-null doc:name="Message is not null Validator" doc:id="7c6ac191-8bc1-4526-aaa0-9f98090ffe8d" value="#[payload.message]" message="No message has been provided."/>
		<crypto:calculate-checksum doc:name="Calculate checksum" doc:id="8f3bfb2c-689e-4d5b-a21d-8830312a694b" target="checkSum" >
			<crypto:content ><![CDATA[#[payload.message]]]></crypto:content>
		</crypto:calculate-checksum>
		<flow-ref doc:name="sign-and-encrypt-message-subflow" doc:id="ddfb61c5-1e30-4ad3-a044-ecec6d1f53b2" name="sign-and-encrypt-message-subflow"/>
		<flow-ref doc:name="send-encrypted-message-and-signature-to-server-subflow" doc:id="497b2ab6-6170-4a00-bff5-e7e085d930de" name="send-encrypted-message-and-signature-to-server-subflow"/>
		<crypto:validate-checksum doc:name="Validate checksum" doc:id="58adb41f-286a-42ae-9605-2bee181b8446" expected="#[vars.checkSum]" value="#[payload.message]"/>
		<ee:transform doc:name="Construct output JSON response" doc:id="058585c8-4a98-4bce-b610-d4eaeb03b722" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	signature: vars.signature,
	encryptedMessage: vars.encryptedMessage,
	decryptedMessage: payload.message,
	signatureValidated: true
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<sub-flow name="sign-and-encrypt-message-subflow" doc:id="ecc06c75-264c-4cf9-a4a8-73d6721b0dde" >
		<crypto:pgp-sign doc:name="Pgp sign" doc:id="eb5b0732-79d2-4ffe-8e20-b592b3584bc5" config-ref="sign-pgp-conf" keyId="${pgp.privateKeyClient.keyId}" target="signature">
			<crypto:content><![CDATA[#[payload.message]]]></crypto:content>
		</crypto:pgp-sign>
		<logger level="INFO" doc:name="Log client message signature" doc:id="fe6f9193-6b12-42ed-b81e-96b3d64b8387" message="Client message signature: #[vars.signature]" />
		<crypto:pgp-encrypt doc:name="Pgp encrypt" doc:id="0154a71b-7813-4bd5-8a5c-36787caf1a64" config-ref="encrypt-pgp-conf" keyId="${pgp.publicKeyServer.keyId}" target="encryptedMessage">
			<crypto:content><![CDATA[#[payload.message]]]></crypto:content>
		</crypto:pgp-encrypt>
		<logger level="INFO" doc:name="Log client encrypted message" doc:id="f1d6a569-2cec-46ce-89a0-2649a452873b" message="Client encrypted message: #[vars.encryptedMessage]" />
	</sub-flow>
	<!-- <sub-flow name="clientSub_Flow" doc:id="5d3b8cc5-7312-4a6a-a755-f42ebfc43d36" >
		<oauth:retrieve-access-token doc:name="Retrieve access token" doc:id="42d4a3f5-d490-4568-8c53-efade0ea4e85" tokenManager="">
		</oauth:retrieve-access-token>
		<oauth:retrieve-state doc:name="Retrieve state" doc:id="048ef73b-d11c-480d-9e8a-6ccbd8ec31e7" >
			<oauth:token-manager />
		</oauth:retrieve-state>
	</sub-flow> -->
	<sub-flow name="send-encrypted-message-and-signature-to-server-subflow" doc:id="d9763b5d-bc11-4b23-be18-bd9896e0c9a6" >
		<ee:transform doc:name="Build JSON body with URI encoded message and signature" doc:id="1efe60b1-5bb5-46a3-898c-747bf2ca48c3">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
import * from dw::core::URL
output application/json
---
{
	message: encodeURI(vars.encryptedMessage),
	signature: encodeURI(vars.signature)
}]]></ee:set-payload>
			</ee:message>
			<ee:variables>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Log request body from client to server" doc:id="5928fbf3-118c-477b-8486-666075c904d1" message="Request body from client to server: #[payload]"/>
		<http:request method="POST" doc:name="HTTP Request to Server" doc:id="b3fc2145-7f51-4f9c-a9b9-b5d4c38c9182" config-ref="HTTP_Request_Server" path="/" outputMimeType="application/json">
		</http:request>
		<ee:transform doc:name="JSON to Java" doc:id="183a39c8-d4a7-4395-9e2b-0f7c06a4ec95" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</sub-flow>
	
</mule>
